.profile {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  position: absolute;
  margin-top: 3rem;
  padding: 1rem;
}

.test {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  margin: 4rem;
  background-color: red;
}

.profileRight {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.profileCover {
  height: 320px;
  position: relative;
}

.profileCoverImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.coverImgContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
}
.coverImgContainer button {
  border: none;
  padding: 0.5rem;
  background-color: green;
  color: white;
  font-weight: 500;
  border-radius: 1rem;
  cursor: pointer;
}
.changeCoverImg span {
  background-color: #eee;
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}
.changeCoverImg span:hover {
  background-color: #ddd;
}
.profileUserImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150px;
  border: 3px solid white;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileInfoName {
  font-size: 3rem;
  padding: 1rem;
}

.profileInfoDesc {
  font-weight: 300;
}

.profileRightBottom {
  display: flex;
}

.changeImgForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.changeImg {
  background-color: #ddd;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
.changeImg:hover {
  background-color: rgba(200, 200, 200, 0.8);
}
.changeImgForm button {
  border: none;
  padding: 0.5rem;
  background-color: green;
  color: white;
  font-weight: 500;
  border-radius: 1rem;
  cursor: pointer;
}
.changeImgForm button:hover {
  background-color: rgba(0, 128, 0, 0.8);
}

.profile .alert {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  color: #fff;
  transform: translateX(150%);
  transition: transform 0.5s ease;
  z-index: 200;
}

.profile .alert.success {
  background-color: green;
}
.profile .alert.error {
  background-color: red;
}
.profile .alert.show {
  transform: translateX(0);
}

.followButton {
  border: none;
  background-color: #1872f2;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.followButton:hover {
  background-color: #4484df;
}

.middleProfile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.friendsContainer {
  background-color: #6ea4f0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}
.sectionTitle {
  font-size: 2rem;
  font-weight: 400;
}
.followingList {
  display: flex;
  padding: 0.5rem;
}
.following {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 0.5rem;
}
.following:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.followingImg {
  object-fit: cover;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.followingName {
  font-weight: 500;
  color: #000;
}
.postsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black solid 2px;
  border-radius: 2rem;
  width: fit-content;
}
