.profile {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  position: absolute;
}

.test {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  margin: 4rem;
  background-color: red;
}

.profileRight {
  flex: 9;
}

.profileCover {
  height: 320px;
  position: relative;
}

.profileCoverImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.profileUserImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150px;
  border: 3px solid white;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileInfoName {
  font-size: 24px;
}

.profileInfoDesc {
  font-weight: 300;
}

.profileRightBottom {
  display: flex;
}

.changeImgForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.changeImg {
  background-color: #ddd;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
.changeImg:hover {
  background-color: rgba(200, 200, 200, 0.8);
}
.changeImgForm button {
  border: none;
  padding: 0.5rem;
  background-color: green;
  color: white;
  font-weight: 500;
  border-radius: 1rem;
  cursor: pointer;
}
.changeImgForm button:hover {
  background-color: rgba(0, 128, 0, 0.8);
}

.profile .alert {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  color: #fff;
  transform: translateX(150%);
  transition: transform 0.5s ease;
  z-index: 200;
}

.profile .alert.success {
  background-color: green;
}
.profile .alert.error {
  background-color: red;
}
.profile .alert.show {
  transform: translateX(0);
}
